html {
    font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    font-size: 16px;
}

main {
    margin-top:5px;
}

main h2 {
   width: 1000px;
   background-color: #0E7AC4;
   color: #ffffff;
   font-size: 1.8rem;
   padding: 20px 0;
   margin:auto;
}

main h2 div {
    width: 1000px;
    margin:auto;
    text-align:center;
}

section{
    width: 1000px;
    margin:auto;
}

section h3{
    background-color: #58BE89;
    font-size:1.2rem;
    color: #ffffff;
    text-align:center;
    padding-bottom:10px;
    margin-top:20px;
}

section p {
    line-height:1.8rem;
    margin-top: 10px;
}

section ul{
    padding: 0 50px;
    margin-top: 40px;
    line-height:1.8rem;
}

.box1 {
    padding: 0.5em 1em;
    margin: auto;
    font-weight: normal;
    border: solid 1px #000000;
    width:900px;
    margin:auto 50px;
}
